# <font color ='blue'>Business Success - Working Copy
    
<img src="sba_logo.png" alt="SBA Logo" title="SBA Logo" width="300" height="100" align="right"/>
    
    
# <p style="font-size:50px" align="center">Business Success</p> <sub>By Kaniela Denis - ???</sub>

<hr style="border:2px solid blue"> </hr>

In [7]:
# import pandas and numpy to start coding
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# prep methods
from sklearn.model_selection import train_test_split

# Scaler
from sklearn.preprocessing import MinMaxScaler

# cluster method
from sklearn.cluster import KMeans

# Feature Engineering methods
import sklearn.linear_model
import sklearn.feature_selection
import sklearn.preprocessing

# Modeling methods
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures


import warnings
warnings.filterwarnings("ignore")

# <font color = 'red'> Planning

## Project Goals
- Using regression modeling, find the RMSE of loans in order to discover drivers of SBA loans that go default by identying their RMSE

## Project Description
- Loans are keys to making dreams come true from buying a house to starting a business. A loan defaulting is an indicator of business failure and this project seeks to identify drivers of high loan risk by using regression modeling to identify high RMSE values.
- Referenced from https://www.kaggle.com/mirbektoktogaraev/should-this-loan-be-approved-or-denied
- References https://www.tandfonline.com/doi/full/10.1080/10691898.2018.1434342

## Initial Questions
- What is the timeline of default loans vs non-default loans
- In what industries do loan defaults occur most?
- In what locations do loan defaults occur most
- What 

## Deliver
- GitHub Repo with Final Notebook and README
- Project Summary

## Data Dictionary

In [9]:
dd1 = pd.read_csv('dd1_27_vars.csv')
dd1

,Variable name,Data type,Description of variable
0,LoanNr_ChkDgt,Text,Identifier â€“ Primary key
1,Name,Text,Borrower name
2,City,Text,Borrower city
3,State,Text,Borrower state
4,Zip,Text,Borrower zip code
5,Bank,Text,Bank name
6,BankState,Text,Bank state
7,NAICS,Text,North American industry classification system ...
8,ApprovalDate,Date/Time,Date SBA commitment issued
9,ApprovalFY,Text,Fiscal year of commitment
10,Term,Number,Loan term in months
11,NoEmp,Number,Number of business employees
12,NewExist,Text,"1 = Existing business, 2 = New business"
13,CreateJob,Number,Number of jobs created
14,RetainedJob,Number,Number of jobs retained
15,FranchiseCode,Text,"Franchise code, (00000 or 00001) = No franchise"
16,UrbanRural,Text,"1 = Urban, 2 = rural, 0 = undefined"
17,RevLineCr,Text,"Revolving line of credit: Y = Yes, N = No"
18,LowDoc,Text,"LowDoc Loan Program: Y = Yes, N = No"
19,ChgOffDate,Date/Time,The date when a loan is declared to be in default
20,DisbursementDate,Date/Time,Disbursement date
21,DisbursementGross,Currency,Amount disbursed
22,BalanceGross,Currency,Gross amount outstanding
23,MIS_Status,Text,"Loan status charged off = CHGOFF, Paid in full..."
24,ChgOffPrinGr,Currency,Charged-off amount
25,GrAppv,Currency,Gross amount of loan approved by bank
26,SBA_Appv,Currency,SBA's guaranteed amount of approved loan

In [10]:
dd2 = pd.read_csv('dd2_8_add_vars.csv')
dd2

  Variable name Data type                            Description of variable
0           New    Number  =1 if NewExist=2 (New Business), =0 if NewExis...
1       Portion    Number       Proportion of gross amount guaranteed by SBA
2    RealEstate    Number  =1 if loan is backed by real estate, =0 otherwise
3     Recession    Number  =1 if loan is active during Great Recession, =...
4      Selected    Number  =1 if the data are selected as training data t...
5       Default    Number      =1 if MIS_Status=CHGOFF, =0 if MIS_Status=PIF
6      daysterm    Number  Extra variable generated when creating â€œRecess...
7            xx    Number  Extra variable generated when creating â€œRecess...

In [12]:
dd3 = pd.read_csv('dd3_naics.csv')
dd3

   Sector                                        Description
0      11         Agriculture, forestry, fishing and hunting
1      21      Mining, quarrying, and oil and gas extraction
2      22                                          Utilities
3      23                                       Construction
4   31â€“33                                      Manufacturing
5      42                                    Wholesale trade
6   44â€“45                                       Retail trade
7   48â€“49                     Transportation and warehousing
8      51                                        Information
9      52                              Finance and insurance
10     53                 Real estate and rental and leasing
11     54   Professional, scientific, and technical services
12     55            Management of companies and enterprises
13     56  Administrative and support and waste managemen...
14     61                               Educational services
15     62                  Health care and social assistance
16     71                Arts, entertainment, and recreation
17     72                    Accommodation and food services
18     81      Other services (except public administration)
19     92                              Public administration

# <font color = 'red'> Acquisition

## Get Data
- Pull from
- how
- things needed

In [6]:
df = pd.read_csv('SBAnational.csv')
df.head()

/usr/local/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"

# <font color = 'red'> Prepare

## Nulls

## Outliers

## Readability

## Add Features

# <font color = 'red'> Explore & Pre-Processing

## Univariate Exploration

## Split

## Multi-Variate Exploration

## Feature Engineering

## Feature Selection

## Scale

## Clustering

## Explore Clustering

# <font color = 'red'> Modeling

## Develop Models

## Evaluate Models

# <font color = 'red'> Delivery

## Conclusion
### Summary
- ??

### Recommendation
- ???

### Next Step
- ???